/** _html.scss */
/** 
 * Base HTML styles
 */

html {
	background-image: url(/assets/photos/james_creek_aspens_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	margin: 0;
	padding: 16px 0 16px;
	min-height: 100vh;
	background: rgba(255, 255, 255, 0.75);
	color: $font_color;
}

h1 {
	margin: 0;
	padding: 0;
	color: $primary_color;
	font-family: 'B612';
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: lowercase;
	letter-spacing: -1px;

	span {
		display: inline-block;
		opacity: 0.5;
		margin: 0 -4px;
		padding: 0;
		font-weight: 400;
	}
}

h2 {
	margin: 0;
	color: $secondary_color;
	font-family: 'Gaegu';
	font-size: 0.95rem;
}

input {
	border-radius: $border-radius;
}

button {
	border-radius: $border-radius;
}

@media (min-width: 992px) {
	html {
		background-image: url(/assets/photos/rmnp_pond_and_peaks_1.jpg);
	}

	/** For post-launch */
	/*h1, h2 {
		display: inline-block;
	}
	h1 {
		margin: 0 8px 0 0;
	}*/
}
