/** _html.scss */
/** 
 * Base HTML styles
 */

body {
	margin: 0;
	padding: 0;
	background: rgb(255, 255, 255);
	color: $font_color;

	&.prelaunch {
		text-align: center;

		h1 {
			margin: 0 auto;
			padding: 10vh 0 0;
			border-top: 100px solid $highlight_color;
			color: $primary_color;
			font-family: 'B612';
			font-size: 2rem;
			font-weight: 700;
			text-transform: lowercase;
			letter-spacing: -2px;

			span {
				display: inline-block;
				opacity: 0.5;
				padding: 0 4px;
				font-weight: 400;
				font-size: 2rem;
			}
		}
		
		h2 {
			margin: -4px 0 0;
			color: $secondary_color;
			font-family: 'Gaegu';
			font-size: 0.95rem;
		}
	}
}
