/** _prelaunch.scss */
/** 
 * Prelaunch styles
 */

body.prelaunch {
	padding: 32px 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(/assets/photos/james_creek_aspens_1.jpg);

	@media (min-width: 992px) {
		background-image: url(/assets/photos/rmnp_pond_and_peaks_1.jpg);
	}

	text-align: center;

	header {
		padding: 16px 0;
		border-bottom: 1px solid rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.7);
	}

	h1 {
		margin: 0 auto;
		padding: 0;
	}

	h2 {
		margin: -4px 0 0;
	}

	.site-bars {
		display: none;
	}
}
