/** _prelaunch.scss */
/** 
 * Prelaunch styles
 */

body.prelaunch {
	padding-top: 60px;
	text-align: center;

	h1 {
		margin: 0 auto;
		padding: 10vh 0 0;
	}

	h2 {
		margin: -4px 0 0;
	}

	#skybar {
		height: 100px;
		background: $highlight_color;
	}
}