/** _site.scss */
/** 
 * Sitewide styles
 */

.bars {
	z-index: 9;
	position: fixed;
	width: 100vw;
	opacity: 0.8;
}

#skybar {
	top: 0;
	height: 24px;
	background: $highlight_color;
}

#earthbar {
	bottom: 0;
	height: 8px;
	background: $secondary_color;
}

header, main {
	margin: auto;
}

header {
	padding: 8px 5vw 0;
}

main {
	padding: 0 5vw;
}

@media (min-width: 992px) {
	header, main {
		padding: 0 10vw;
	}
}
