/** _site.scss */
/** 
 * Sitewide styles
 */

.bars {
	position: fixed;
	width: 100vw;
	height: 8px;
	opacity: 0.8;
}

#skybar {
	top: 0;
	background: $highlight_color;
}

#earthbar {
	bottom: 0;
	background: $secondary_color;
}

main {
	margin: auto;
	width: 80vw;
}
