/** _variables.scss */
/** 
 * Variable definitions
 */

$primary_color: rgb(64, 164, 0);
// $secondary_color: rgb(93, 54, 9);
$secondary_color: rgb(116, 67, 11);
// $highlight_color: rgb(164, 219, 255);
$highlight_color: rgb(102, 204, 255);
$font_color: rgb(50, 50, 50);
$neutral_font_color: rgb(152, 162, 152);

$frosted_glass_bg: rgba(255, 255, 255, 0.7);

$border-radius: .2rem;
